.chart {
  font: 10px sans-serif;
  margin: 0;
  overflow:visible;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.circle {
  r: 6;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.d3-tip {
  z-index: 100;
  position: absolute;
}

div.tooltip {
      position: absolute;
      text-align: center;
      padding: 4px;
      background: #fff;
      border: 0px;
      pointer-events: none;
}
